html {
    box-sizing: border-box;
    background: url(../images/bg.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgba(255,255,255,0.3);
}

.box {
    height: 100px;
    width: 200px;
    overflow: hidden;
    background-color: #1ba99f;
    -webkit-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
}

.nav {
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 10px;
    letter-spacing: 4px;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    position: absolute;
    width: 100%;
    display: none;
}

.photo {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

h2 {
    text-align: center;
    color: #1ba99f; 
    font-family: sans-serif;
    font-weight: 300;
}

.nav a {
    text-decoration: none;
    text-align: center;
    color: #1ba99f;
}

.nav-label {
    cursor: pointer;
    width: 40px;
    display: inline-block;
    margin: 1rem;
}

.nav-check {
    position: absolute;
    top: -3em;
}

.nav-label img {
    display: block;
    width: 100%;
}

.nav-check:checked ~ .nav {
    display: block;
}

.panel {
    background-color: #fff;
    padding: 1rem;
}

[hidden] {
    display: none;
}

.scroll:hover {
    padding: 10px; 
}

.scroll {
    width: 10%;
    padding: 0;
    margin: 0;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear; 
}

.social {
    text-align: right;
}
    
.logo {
    position: absolute;
    width: 10%;
    left: 45%;
    -webkit-animation: pulse 20s linear infinite;
    animation: pulse 20s linear infinite;
}

.bar {
    background-color: rgba(255,255,255,0.5);
    padding: 0;
    margin-top: 200px;
    text-align: center;
}

.tabs {
    padding: 0;
    margin: 0;
    -webkit-transition: all 250ms ease-in;
    transition: all 2s ease-in;
}

.image:hover {
    padding: 3px;
    border-radius: 30px;
    transition-duration: 0.2s;
    transition-property: all;
}

.animated {
    -webkit-animation-duration: 3s; 
    animation-duration: infinite 3s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
	height: auto;
	margin-left: auto;
    margin-right: auto;
} 

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(0.5); }
    20% { -webkit-transform: scale(1); }
}

@keyframes pulse {
    0% { transform: scale(0.5); }
    20% { transform: scale(1); }
}

.thumbnails { 
    display: inline-block;
    margin: 0;
    padding: 0;
} 

.thumbnails a { 
    display: block;
    width: 100%; 
}

.lightbox {
    position: fixed;
    left: 100%;
    right: -100%;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: all 400ms linear;
}

.lightbox[data-state="visible"] {
    opacity: 1;
    left: 0;
    right: 0;
}

.lightbox-img {
    display: block;
    width: 100%;
}

.lightbox-content {
    position: absolute;
    width: calc(100% - 2em);
    transform: translate(-50%, -50%);
}
    
.lightbox-container {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 15px;
    top: 15px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 1px 1px 4px #000;
    padding: 1em;
}

@media only screen and (min-width: 20em) {
    .scroll {
        width: 7%;
    }
    .logo {
        margin-top: 40px;
        width: 20%;
        left: 40%;
    }
}
 
@media only screen and (min-width: 40em) {
    .logo {
        width: 15%;
        margin-top: 50px;
        left: 42.5%;
    }
    .scroll {
        width: 5%;
    }
    .panel {
        padding: 3rem;
    }
}

@media only screen and (min-width: 60em) { 
    .logo {
        width: 8%;
        left: 46%;
    }
    .scroll {
        width: 4%;
    }
}