html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.logo {
    padding-left: 1rem;
    text-align: center;
    width: 80%;
    float: left;
}

.nav {
    float: right;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 3px;
    letter-spacing: 4px;
    font-size: 12px;
    text-decoration: none;
    display: block;
}

.facebook {
    width: 15%;
    left: 150px;
    position: absolute;
    text-align: center;
    -webkit-animation: box-rotate 4s ease-in-out infinite alternate;
    -webkit-animation: pulse 4s linear infinite;
    animation: pulse 20s linear infinite;
}

.nav a {
    text-decoration: none;
    color: #393c97;
}

.logo {
    position: absolute;
    width: 35%;
    height: 35%;
    left: 120px;
    top: 50px;
    -webkit-animation: box-rotate 6s ease-in-out infinite alternate;
    -webkit-animation: pulse 20s linear infinite;
    animation: pulse 20s linear infinite;
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    20% { -webkit-transform: scale(1.2); }
}

@keyframes pulse {
    0% { transform: scale(1); }
    20% { transform: scale(1.2); }
}

html { 
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}