html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.logo {
    padding-left: 1rem;
    text-align: center;
    width: 100%;
    float: left;
}

.nav {
    float: right;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 30px;
    letter-spacing: 3px;
    font-size: 12px;
    text-decoration-line: none;
    display: block;
}

.design {
    position: absolute;
    top: 200px;
    left: 100px;
    width: 150px;
    -webkit-animation: box-rotate 6s ease-in-out infinite alternate;
    animation: box-rotate 6s ease-in-out infinite alternate;
    transform: rotate(60deg);
}

@keyframes box-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes box-rotate {
    0% {
        -webkit-transform: translateY(0);
    }
    20% {
        -webkit-transform: translateY(40px);
    }
    30% {
        -webkit-transform: translateX(50px);
    }
    40% {
        -webkit-transform: translateX(80px);
    }
    45% {
        -webkit-transform: translateY(100px);
    }
    50% {
        -webkit-transform: translateY(20px);
    }
    60% {
        -webkit-transform: translateY(70px);
    }
    70% {
        -webkit-transform: translateX(100px);
    }
    80% {
        -webkit-transform: translateX(60px);
    }
    92% {
        -webkit-transform: translateY(80px);
    }
    100% {
        -webkit-transform: translateY(30px);
    }
}